<ion-content class="ion-padding">
  <ion-row>
    <ion-col offsetMd="2" sizeMd="8">
      <div>
        <ion-row>
          <ion-col>
            <h5>Account Details</h5>
          </ion-col>
        </ion-row>

        <ion-row class="mt-4 ion-align-items-center">
          <ion-col size="3">
            <span><b>Email Address</b></span>
          </ion-col>
          <ion-col size="5">
            <span>{{ business.email }}</span>
          </ion-col>
          <ion-col offsetMd="1" size="3">
            <ion-button *ngIf="!emailVerified" (click)="verifyEmail()"
              >Verify</ion-button
            >
          </ion-col>
        </ion-row>

        <ion-row class="mt-4 ion-align-items-center">
          <ion-col size="3">
            <span><b>Mobile Number</b></span>
          </ion-col>

          <ion-col size="5">
            <span *ngIf="!editMobile"
              >{{ initialized ? "+91 -" : "" }} {{ business.mobile }}
            </span>

            <ion-item
              *ngIf="editMobile"
              style="
                border: solid 0.5px;
                border-radius: 20px;
                --highlight-color-focused: none;
              "
            >
              <ion-label>+91</ion-label>
              <ion-input
                maxlength="10"
                placeholder="10-digit number"
                [(ngModel)]="business.mobile"
              ></ion-input>
            </ion-item>
          </ion-col>

          <ion-col offsetMd="1" size="3">
            <i class="fa fa-pen" *ngIf="!editMobile" (click)="editMob()"></i>
            <ion-button *ngIf="editMobile" (click)="editMob()">Save</ion-button>
          </ion-col>
        </ion-row>

        <ion-row class="mt-4 ion-align-items-center">
          <ion-col size="3">
            <span><b>Profile Name</b></span>
          </ion-col>

          <ion-col size="5">
            <span *ngIf="!editProfile">
              {{ initialized ? "@" : "" }}{{ business.profile }}
            </span>

            <ion-item
              *ngIf="editProfile"
              style="
                border: solid 0.5px;
                border-radius: 20px;
                --highlight-color-focused: none;
              "
            >
              <ion-label>@</ion-label>
              <ion-input
                maxlength="30"
                placeholder=""
                [(ngModel)]="business.profile"
              ></ion-input>
            </ion-item>
          </ion-col>

          <ion-col offsetMd="1" size="3">
            <i
              class="fa fa-pen"
              *ngIf="!editProfile"
              (click)="edit_Profile()"
            ></i>
            <ion-button *ngIf="editProfile" (click)="edit_Profile()"
              >Save</ion-button
            >
          </ion-col>
        </ion-row>
      </div>

      <!-- Business Details -->
      <div>
        <ion-row class="mt-5">
          <ion-col>
            <h5>Business Details</h5>
          </ion-col>
        </ion-row>

        <ion-row class="mt-4 ion-align-items-center">
          <ion-col size="3">
            <span><b>Business Name</b></span>
          </ion-col>

          <ion-col size="5">
            <span *ngIf="!editBName"> {{ business.name }} </span>

            <ion-item
              *ngIf="editBName"
              style="
                border: solid 0.5px;
                border-radius: 20px;
                --highlight-color-focused: none;
              "
            >
              <ion-input
                placeholder="Ex - ABC Company Pvt. Ltd."
                [(ngModel)]="business.name"
              ></ion-input>
            </ion-item>
          </ion-col>

          <ion-col offsetMd="1" size="3">
            <i class="fa fa-pen" *ngIf="!editBName" (click)="edit_BName()"></i>
            <ion-button *ngIf="editBName" (click)="edit_BName()"
              >Save</ion-button
            >
          </ion-col>
        </ion-row>

        <ion-row class="mt-4 ion-align-items-center">
          <ion-col size="3">
            <span><b>GST IN</b></span>
          </ion-col>

          <ion-col size="5">
            <span *ngIf="!editBGST"> {{ business.gst }} </span>

            <ion-item
              *ngIf="editBGST"
              style="
                border: solid 0.5px;
                border-radius: 20px;
                --highlight-color-focused: none;
              "
            >
              <ion-input
                maxlength="15"
                placeholder="15-digit GST number"
                [(ngModel)]="business.gst"
              ></ion-input>
            </ion-item>
          </ion-col>

          <ion-col offsetMd="1" size="3">
            <i class="fa fa-pen" *ngIf="!editBGST" (click)="edit_BGST()"></i>
            <ion-button *ngIf="editBGST" (click)="edit_BGST()">Save</ion-button>
          </ion-col>
        </ion-row>

        <ion-row class="mt-4 ion-align-items-center">
          <ion-col size="3">
            <span><b>Year of Establishment</b></span>
          </ion-col>

          <ion-col size="5">
            <span *ngIf="!editBYear"> {{ business.year }} </span>

            <ion-item
              *ngIf="editBYear"
              style="
                border: solid 0.5px;
                border-radius: 20px;
                --highlight-color-focused: none;
              "
            >
              <ion-input
                maxlength="4"
                placeholder="Ex - 1994"
                [(ngModel)]="business.year"
              ></ion-input>
            </ion-item>
          </ion-col>

          <ion-col offsetMd="1" size="3">
            <i class="fa fa-pen" *ngIf="!editBYear" (click)="edit_BYear()"></i>
            <ion-button *ngIf="editBYear" (click)="edit_BYear()"
              >Save</ion-button
            >
          </ion-col>
        </ion-row>

        <ion-row class="mt-4 ion-align-items-center">
          <ion-col size="3">
            <span><b>Office Number</b></span>
          </ion-col>

          <ion-col size="5">
            <span *ngIf="!editBPhone"> {{ business.phone }} </span>

            <ion-item
              *ngIf="editBPhone"
              style="
                border: solid 0.5px;
                border-radius: 20px;
                --highlight-color-focused: none;
              "
            >
              <ion-input
                maxlength="20"
                placeholder="02946 - 233333"
                [(ngModel)]="business.phone"
              ></ion-input>
            </ion-item>
          </ion-col>

          <ion-col offsetMd="1" size="3">
            <i
              class="fa fa-pen"
              *ngIf="!editBPhone"
              (click)="edit_BPhone()"
            ></i>
            <ion-button *ngIf="editBPhone" (click)="edit_BPhone()"
              >Save</ion-button
            >
          </ion-col>
        </ion-row>

        <ion-row class="mt-4 ion-align-items-center">
          <ion-col size="3">
            <span><b>Address</b></span>
          </ion-col>

          <ion-col *ngIf="!editBAddress" size="5">
            <span
              >{{
                (business.address.line1 ? business.address.line1 : "") +
                  (business.address.line2
                    ? ", " + business.address.line2
                    : "") +
                  (business.address.district
                    ? ", " + business.address.district
                    : "") +
                  (business.address.state
                    ? ", " + business.address.state
                    : "") +
                  (business.address.pin ? " - " + business.address.pin : "")
              }}
            </span>
          </ion-col>

          <ion-col *ngIf="editBAddress" size="5" class="ion-no-padding">
            <ion-row>
              <ion-col>
                <ion-item
                  style="
                    border: solid 0.5px;
                    border-radius: 20px;
                    --highlight-color-focused: none;
                  "
                >
                  <ion-input
                    maxlength="50"
                    placeholder="Address Line 1"
                    [(ngModel)]="business.address.line1"
                  ></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col sizeMd="8">
                <ion-item
                  style="
                    border: solid 0.5px;
                    border-radius: 20px;
                    --highlight-color-focused: none;
                  "
                >
                  <ion-input
                    maxlength="50"
                    placeholder="Address Line 2"
                    [(ngModel)]="business.address.line2"
                  ></ion-input>
                </ion-item>
              </ion-col>

              <ion-col sizeMd="4">
                <ion-item
                  style="
                    border: solid 0.5px;
                    border-radius: 20px;
                    --highlight-color-focused: none;
                  "
                >
                  <ion-input
                    maxlength="6"
                    placeholder="pin code"
                    [(ngModel)]="business.address.pin"
                  ></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col>
                <ion-item
                  style="
                    border: solid 0.5px;
                    border-radius: 20px;
                    --highlight-color-focused: none;
                  "
                >
                  <ion-input
                    maxlength="50"
                    placeholder="District"
                    [(ngModel)]="business.address.district"
                  ></ion-input>
                </ion-item>
              </ion-col>

              <ion-col>
                <ion-item
                  style="
                    border: solid 0.5px;
                    border-radius: 20px;
                    --highlight-color-focused: none;
                  "
                >
                  <ion-input
                    maxlength="50"
                    placeholder="State"
                    [(ngModel)]="business.address.state"
                  ></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-col>

          <ion-col offsetMd="1" size="3">
            <i
              class="fa fa-pen"
              *ngIf="!editBAddress"
              (click)="edit_BAddress()"
            ></i>
            <ion-button *ngIf="editBAddress" (click)="edit_BAddress()"
              >Save</ion-button
            >
          </ion-col>
        </ion-row>

        <ion-row class="mt-4 ion-align-items-center">
          <ion-col size="3">
            <span><b>Location</b></span>
          </ion-col>

          <ion-col size="5">
            <iframe
              *ngIf="!editBLocation"
              [src]="locationSrc"
              width="300"
              height="300"
              style="border: 0"
              allowfullscreen=""
              loading="lazy"
            ></iframe>

            <ion-item
              *ngIf="editBLocation"
              style="
                border: solid 0.5px;
                border-radius: 20px;
                --highlight-color-focused: none;
              "
            >
              <ion-textarea
                placeholder="Go to your Google Maps location -> Share -> Embed a Map -> Copy HTML & paste here!"
                [(ngModel)]="business.address.location"
              ></ion-textarea>
            </ion-item>
          </ion-col>

          <ion-col offsetMd="1" size="3">
            <i
              class="fa fa-pen"
              *ngIf="!editBLocation"
              (click)="edit_BLocation()"
            ></i>
            <ion-button *ngIf="editBLocation" (click)="edit_BLocation()"
              >Save</ion-button
            >
          </ion-col>
        </ion-row>
      </div>
    </ion-col>
  </ion-row>
</ion-content>
