<ion-content class="ion-padding" style="height: 100%">
  <ion-row style="height: 100%" class="ion-text-center">
    <ion-col class="ion-padding" size="9" style="background: #f2f3f4; max-height: 90vh;">
      <ion-row>
        <ion-col class="ion-text-start">
          <h5>
            Website Preview
            <a [href]="url" target="_blank">
              <i class="fas fa-external-link-alt"></i>
            </a>
          </h5>
        </ion-col>
        <ion-col class="ion-text-end">
          <h5>
            <a href="javascript:void(0);" (click)="reload()">
              <i class="fas fa-redo"></i>
            </a>
          </h5>
        </ion-col>
      </ion-row>

      <iframe
        #profile
        [src]="controllerSrc"
        width="100%"
        height="100%"
        allowfullscreen=""
        loading="lazy"
        style="pointer-events: none"
      ></iframe>
    </ion-col>
    <ion-col size="3">
      <ion-row>
        <ion-col>
          <ion-card>
            <ion-row class="ion-align-items-center">
              <ion-col sizeMd="10">
                <ion-item lines="none">
                  <!-- <ion-label position="floating">Title</ion-label> -->
                  <ion-input
                    [disabled]="!editTitle"
                    [(ngModel)]="bizProfile.title"
                  ></ion-input>
                </ion-item>
              </ion-col>
              <ion-col sizeMd="2">
                <span>
                  <i
                    class="fa"
                    style="font-size: large"
                    [ngClass]="{
                      'fa-pen': !editTitle,
                      'fa-check text-success': editTitle
                    }"
                    (click)="edit_Title()"
                  ></i>
                </span>
              </ion-col>
            </ion-row>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-card>
            <ion-row class="ion-align-items-center">
              <ion-col sizeMd="10">
                <ion-item lines="none">
                  <ion-label>Company Logo</ion-label>
                  <ion-avatar slot="end">
                    <img
                      [src]="icon ? icon : placeholder"
                      (click)="editIcon = true; file.click()"
                    />
                  </ion-avatar>
                </ion-item>
              </ion-col>
              <ion-col sizeMd="2">
                <span>
                  <input
                    style="display: none"
                    type="file"
                    accept="image/*"
                    #file
                    (change)="onFileChanged($event)"
                    [(ngModel)]="imgFile"
                  />
                  <i
                    class="fa"
                    style="font-size: large"
                    [ngClass]="{
                      'fa-pen': !editIcon,
                      'fa-check text-success': editIcon
                    }"
                    (click)="edit_Icon()"
                  ></i>
                </span>
              </ion-col>
            </ion-row>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-card>
            <ion-row class="ion-align-items-center">
              <ion-col sizeMd="10">
                <ion-item lines="none">
                  <ion-label>Toolbar Color</ion-label>
                  <input
                    #tColor
                    type="color"
                    [(ngModel)]="bizProfile.color"
                    (click)="editColor = true"
                  />
                </ion-item>
              </ion-col>
              <ion-col sizeMd="2">
                <span>
                  <i
                    class="fa"
                    style="font-size: large"
                    [ngClass]="{
                      'fa-pen': !editColor,
                      'fa-check text-success': editColor
                    }"
                    (click)="edit_Color()"
                  ></i>
                </span>
              </ion-col>
            </ion-row>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-card>
            <ion-row class="ion-align-items-center">
              <ion-col sizeMd="10">
                <ion-item lines="none">
                  <ion-label>Font Color</ion-label>
                  <input
                    #fColor
                    type="color"
                    [(ngModel)]="bizProfile.fontColor"
                    (click)="editFontColor = true"
                  />
                </ion-item>
              </ion-col>
              <ion-col sizeMd="2">
                <span>
                  <i
                    class="fa"
                    style="font-size: large"
                    [ngClass]="{
                      'fa-pen': !editFontColor,
                      'fa-check text-success': editFontColor
                    }"
                    (click)="edit_FontColor()"
                  ></i>
                </span>
              </ion-col>
            </ion-row>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row class="ion-text-start">
        <ion-col>
          <ion-segment mode="md" scrollable value="true" [(ngModel)]="home">
            <ion-segment-button
              value="true"
              layout="icon-start"
              (click)="reload(false)"
            >
              <i class="fas fa-home" style="font-size: larger"></i>
              <ion-label>Home</ion-label>
            </ion-segment-button>
            <ion-segment-button
              value="false"
              layout="icon-start"
              (click)="reload(true)"
            >
              <i class="fas fa-shopping-cart" style="font-size: larger"></i>
              <ion-label>Product Gallery</ion-label>
            </ion-segment-button>
          </ion-segment>
        </ion-col>
      </ion-row>

      <div *ngIf="home === 'true'">
        <ion-row>
          <ion-col>
            <ion-card>
              <ion-item button (click)="presentModal('Home')">
                <ion-label> Home </ion-label>
              </ion-item>

              <ion-reorder-group
                (ionItemReorder)="onItemReorder($event)"
                disabled="false"
              >
                <ion-item *ngFor="let page of pages" button>
                  <ion-reorder *ngIf="(page.type !== 'Menu')" slot="start"></ion-reorder>
                  <ion-label (click)="page.type !== 'Menu' ? presentModal('Edit', page) : presentAlert(page.title, page.id)">
                    <span [style.font-weight]="page.type === 'Menu' ? 'bold': ''">{{ page.title }}</span>
                  </ion-label>
                  <i
                    slot="end"
                    class="far fa-trash-alt"
                    (click)="presentDeleteAlert(page.id)"
                  ></i>
                </ion-item>
              </ion-reorder-group>
            </ion-card>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-button color="warning" (click)="presentAlert()">Add Menu</ion-button>
          </ion-col>
          <ion-col>
            <ion-button (click)="presentModal()">Add New Page</ion-button>
          </ion-col>
        </ion-row>
      </div>
    </ion-col>
  </ion-row>
</ion-content>
