<ion-split-pane contentId="main">
  <!--  the side menu  -->
  <ion-menu side="start" content-id="main" class="my-custom-menu">
    <ion-header>
      <ion-toolbar translucent>
        <ion-row class="ion-text-center">
          <ion-col>
            <img style="height: 30px" src="assets/images/atlas-small.png" />
          </ion-col>
        </ion-row>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list class="pt-0">
        <ion-row *ngFor="let menuItem of menu" class="ion-text-center">
          <ion-col class="px-0">
            <ion-item lines="none" button (click)="go(menuItem.link)">
              <i class="{{ menuItem.icon }}" style="font-size: x-large"></i>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-list>
    </ion-content>
  </ion-menu>

  <!-- the main content -->

  <div class="ion-page" id="main">
    <ion-header>
      <ion-toolbar>
        <ion-row>
          <ion-col>
            <ion-title class="h-100">{{ business.name }}</ion-title>
          </ion-col>
          <ion-col>
            <ion-button color="danger" class="float-right" (click)="logout()"
              >Logout</ion-button
            >
          </ion-col>
        </ion-row>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-router-outlet [animated]="false" id="main"></ion-router-outlet>
    </ion-content>
  </div>
</ion-split-pane>
