<ion-header>
  <ion-toolbar [style.color]="profile.color">
    <ion-title
      style="font-family: 'Mulish', sans-serif; --background: '#e5e5e5'"
    >
      <img style="height: 35px" src="{{ profile.icon }}" (click)="home()" />
      <b>&nbsp; {{ profile.title }} </b></ion-title
    >
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="mt-3">
    <ion-col offset-md="2" size-md="5">
      <ion-card>
        <ion-card-header>
          <ion-card-title>
            <ion-row>
              <ion-col>
                {{cartItems.length}} Items

              </ion-col>
              <ion-col class="ion-text-end">
                Total: &#8377;1049 
              </ion-col>
            </ion-row>
          </ion-card-title>
        </ion-card-header>

        <ion-item button *ngFor="let item of cartItems">
          <ion-thumbnail slot="start">
            <img
              src="{{items.get(item.itemId).photoUrl}}"
            />
          </ion-thumbnail>
          <ion-label>
            <h3><b>{{items.get(item.itemId).name}}</b> &nbsp;<i>({{item.unit}})</i></h3>
            <p>Qty : {{item.qty }}</p>
            <h5>Rs : {{units.get(item.itemId).price }}</h5>
          </ion-label>
          <ion-icon name="close-circle" slot="end" (click)="removeFromCart(item)"></ion-icon>
        </ion-item>

      </ion-card>
    </ion-col>

    <ion-col size-md="3">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Address</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          c/o Balkrishna Patidar, Gamda Brahmaniya, Sagwara
        </ion-card-content>

        <ion-card-header>
          <ion-card-title>Price Details</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <ion-row>
            <ion-col>Total MRP</ion-col>
            <ion-col class="ion-text-end">&#8377; 999</ion-col>
          </ion-row>
          <ion-row>
            <ion-col>Fee / charges</ion-col>
            <ion-col class="ion-text-end">&#8377; 50</ion-col>
          </ion-row>
          <ion-row>
            <ion-col><b>Total</b></ion-col>
            <ion-col class="ion-text-end"><b>&#8377; 1049</b></ion-col>
          </ion-row>

          <ion-row>
              <ion-col>
                  <ion-button>Confirm Order</ion-button>
              </ion-col>
              <ion-col>
                <ion-button expand="block" color="danger" (click)="back()">Go Back</ion-button>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
