<ion-header *ngIf="isDesktop">
  <ion-toolbar
    style="--background: linear-gradient(315deg, #0abcf9 0%, #2c69d1 74%)"
  >
    <ion-title style="font-family: 'Mulish', sans-serif; color: white"
      ><b>ATLAS</b> SEARCH</ion-title
    >
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="4" size-md="1">
        <ion-item class="ion-no-padding">
          <ion-icon name="location-outline"></ion-icon>
          <ion-input
            type="text"
            maxlength="6"
            clearOnEdit="true"
            placeholder="pin-code"
            value="314025"
            [(ngModel)]="pincode"
            (ngModelChange)="pinCheck($event)"
          ></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="12" size-md="auto" class="ion-text-center">
        <h5 style="font-family: 'Mulish', sans-serif;" *ngIf="displayLoc">{{location}}</h5>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center">
    </ion-row>

    <ion-row class="ion-margin-top ion-margin-bottom">
      <ion-col size-md="6" offset-md="3">
        <ion-input
          class="search_box"
          clearInput
          placeholder="Search business..."
        ></ion-input>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <h1>Top Business based on your search</h1>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12" size-sm>
        <ion-card (click)="route()">
          <img src="https://mdbootstrap.com/img/Photos/Others/images/41.jpg" />
          <ion-card-header>
            <ion-card-subtitle>Destination</ion-card-subtitle>
            <ion-card-title>Madison, WI</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Founded in 1829 on an isthmus between Lake Monona and Lake Mendota,
            Madison was named the capital of the Wisconsin Territory in 1836.
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="12" size-sm>
        <ion-card>
          <img src="https://mdbootstrap.com/img/Photos/Others/images/48.jpg" />
          <ion-card-header>
            <ion-card-subtitle>Destination</ion-card-subtitle>
            <ion-card-title>Madison, WI</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Founded in 1829 on an isthmus between Lake Monona and Lake Mendota,
            Madison was named the capital of the Wisconsin Territory in 1836.
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="12" size-sm>
        <ion-card>
          <img src="https://mdbootstrap.com/img/Photos/Others/images/43.jpg" />
          <ion-card-header>
            <ion-card-subtitle>Destination</ion-card-subtitle>
            <ion-card-title>Madison, WI</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Founded in 1829 on an isthmus between Lake Monona and Lake Mendota,
            Madison was named the capital of the Wisconsin Territory in 1836.
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="12" size-sm>
        <ion-card>
          <img src="https://mdbootstrap.com/img/Photos/Others/images/44.jpg" />
          <ion-card-header>
            <ion-card-subtitle>Destination</ion-card-subtitle>
            <ion-card-title>Madison, WI</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Founded in 1829 on an isthmus between Lake Monona and Lake Mendota,
            Madison was named the capital of the Wisconsin Territory in 1836.
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
