<ion-header *ngIf="isDesktop">
  <ion-toolbar>
    <ion-title style="font-family: 'Mulish', sans-serif; --background: '#e5e5e5'">
      <img style="height: 30px" src="assets/images/atlas-small.png" />
      <b>&nbsp; ATLAS </b> Business Search
    </ion-title>

    <ion-buttons class="hidden-md-down" slot="primary" collapse="true">
      <ion-button style="background: #494cf3; color: white; text-transform: none;" href="https://atlas-business.web.app"
        target="_blank">Try Atlas for Business</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="xbody p-5">
    <ion-row class="ion-text-center">
      <ion-col>
        <img style="width: 150px; height: 150px;" src="assets/images/atlas.png" alt="Atlas" class="splash" />
      </ion-col>
    </ion-row>

    <ion-row class="ion-margin-top ion-margin-bottom">
      <ion-col size-md="6" offset-md="3">
        <ion-input class="search_box" clearInput placeholder="Search by business name / profile..."
          (keyup.enter)="search()" [(ngModel)]="query"></ion-input>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button class="float-right" style="text-transform: none; --background: #494cf3;"
          [disabled]="!enableSearch()" (click)="search()">Search Business</ion-button>
      </ion-col>
      <ion-col>
        <ion-button class="float-left" color="light" style="text-transform: none; --background: #fd6f61;"
          (click)="clear()">Clear</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>


  <ion-row *ngIf="businesses.length > 0">
    <ion-col>
      <h5 class="ml-2 mt-2">Top Business based on your search - <q>{{query}}</q></h5>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col *ngFor="let business of businesses" size-lg="3" size-md="4" size-sm="6" size="12">
      <ion-card (click)="route(business.profile)">
        <ion-row class="ion-text-center">
          <ion-col class="ion-no-padding">
            <img style="height: 250px" [style.width]="imgMap.has(business.id) ? 'width: 100%;': 'width: 50%;'"
              [src]="imgMap.has(business.id) ? imgMap.get(business.id) : 'assets/images/mall.png'" />
          </ion-col>
        </ion-row>
        <ion-card-header>
          <ion-card-subtitle>{{'@' + business.profile}}</ion-card-subtitle>
          <ion-card-title>{{business.name}}</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>