.search_box {
  --padding-start: 20px;
  box-sizing: border-box;
  background: #fff;
  border: 2px solid #e5e5e5;
  border-radius: 35px;
  font-size: 25px;
  color: #212121;
  outline: none;
  font-family: 'Mulish', sans-serif;
}
