<div class="context">
  <h4 style="font-family: 'Mulish', sans-serif;"><b>&nbsp;&nbsp;ATLAS</b> SEARCH</h4>

  <img src="assets/icons/Atlas.png" alt="Atlas" class="splash" />

  <div class="search_box">
    <input matInput type="text" placeholder="Search business name..." [matAutocomplete]="auto" />
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        {{ option }}
      </mat-option>
    </mat-autocomplete>
  </div>

  <div class="mt-3" style="display: flex; justify-content: center">
    <button class="px-4 btn-primary" mat-raised-button>Search</button>
    <button class="px-4 ml-3 btn-secondary" mat-raised-button>Clear</button>
  </div>


  <div style="display: flex; justify-content: center" class="mt-2">
    <mat-form-field appearance="fill" style="padding: 0; width: 140px">
      <span matPrefix>
        &nbsp;&nbsp; <i class="fas fa-map-marker-alt"></i> &nbsp;&nbsp;</span
      >
      <input
        style="font-family: 'Mulish', sans-serif;"
        matInput
        class="text-primary"
        placeholder="pin-code"
        type="text"
        maxlength="6"
        [(ngModel)]="pincode"
        (ngModelChange)="pinCheck($event)"
      />
    </mat-form-field>
  </div>
  <div style="display: flex; justify-content: center">
    <h5 style="font-family: 'Mulish', sans-serif;" *ngIf="displayLoc">Searching in : {{location}}</h5>
  </div>
</div>

<!-- <div class="area">
  <ul class="circles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div> -->
