<ion-header>
  <ion-toolbar class="py-2">
    <ion-title
      style="font-family: 'Mulish', sans-serif; --background: '#e5e5e5'"
    >
      <img style="height: 30px" src="assets/images/atlas-small.png" />
      <b>&nbsp; ATLAS </b> Business</ion-title
    >

    <ion-buttons class="hidden-md-down" slot="primary" collapse="true">
      <ion-button (click)="scrollElement('home')">Home</ion-button>
      <ion-button (click)="scrollElement('features')">Features</ion-button>
      <ion-button (click)="scrollElement('demo')">Demo</ion-button>
      <ion-button (click)="scrollElement('footer')">Contact us</ion-button>
      <ion-button
        style="background: #494cf3; color: white"
        (click)="go()"
        >Register</ion-button
      >
      <ion-button
        style="background: #fd6f61; color: white"
        (click)="presentModal()"
        >Login</ion-button
      >
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <section
    #home
    class="fwh-slide mt-5"
    style="
      background: url(assets/images/landing/landing.jpg);
      background-size: cover;
    "
  >
    <ion-row class="ion-text-end">
      <ion-col offsetMd="1" sizeMd="10">
        <ion-row>
          <ion-col class="ion-text-center">
            <b
              style="
                font-family: 'Mulish', sans-serif;
                color: black;
                font-size: 50px;
              "
            >
              <div>India's Modern way to manage Business online</div>
            </b>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </section>

  <section #features class="my-5">
    <ion-row>
      <ion-col>
        <h1 class="ion-text-center" style="font-family: 'Mulish', sans-serif">
          <b>How ATLAS will help in growing your Business ? </b>
        </h1>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col offsetMd="1" sizeMd="10">
        <ion-row class="my-5">
          <ion-col size="12" size-md="8">
            <img
              src="assets/images/landing/launch.jpg"
              style="max-height: 500px"
            />
          </ion-col>
          <ion-col sizeMd="4">
            <h1
              class="pt-5"
              [ngClass]="{
                'ion-text-start display-4' : isDesktop,
                'ion-text-center h1' : !isDesktop
              }"
              style="font-family: 'Mulish', sans-serif"
            >
              <b style="color: #494cf3">#1</b> - Setup & Manage your
              <b style="color: #494cf3">online business store</b>
            </h1>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col offsetMd="3" sizeMd="6">
            <hr />
          </ion-col>
        </ion-row>

        <ion-row class="my-5" [style.flex-direction]="isDesktop ? 'row-reverse' : 'row'">
          <ion-col size="12" size-md="7" class="ion-text-end">
            <img
              src="assets/images/landing/oms.jpg"
              style="max-height: 500px"
            />
          </ion-col>

          <ion-col sizeMd="5">
            <h1
              class="pt-5"
              [ngClass]="{
                'ion-text-start display-4' : isDesktop,
                'ion-text-center h1' : !isDesktop
              }"
              style="font-family: 'Mulish', sans-serif"
            >
              <b style="color: #494cf3">#2</b> - Receive /
              <b style="color: #494cf3">Manage Orders </b> from online customers
            </h1>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col offsetMd="3" sizeMd="6">
            <hr />
          </ion-col>
        </ion-row>

        <ion-row class="my-5">
          <ion-col size="12" size-md="8">
            <img
              src="assets/images/landing/invoice.jpg"
              style="max-height: 500px"
            />
          </ion-col>
          <ion-col sizeMd="4">
            <h1
              class="pt-5"
              [ngClass]="{
                'ion-text-start display-4' : isDesktop,
                'ion-text-center h1' : !isDesktop
              }"
              style="font-family: 'Mulish', sans-serif"
            >
              <b style="color: #494cf3">#3</b> - GST
              <b style="color: #494cf3">Invoice / Billing</b> support
            </h1>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col offsetMd="3" sizeMd="6">
            <hr />
          </ion-col>
        </ion-row>

        <ion-row class="my-5" [style.flex-direction]="isDesktop ? 'row-reverse' : 'row'">
          <ion-col size="12" size-md="7" class="ion-text-end">
            <img
              src="assets/images/landing/inventory.jpg"
              style="max-height: 500px"
            />
          </ion-col>

          <ion-col sizeMd="5">
            <h1
              class="pt-5"
              [ngClass]="{
                'ion-text-start display-4' : isDesktop,
                'ion-text-center h1' : !isDesktop
              }"
              style="font-family: 'Mulish', sans-serif"
            >
              <b style="color: #494cf3">#4</b> - Track & Manage your
              <b style="color: #494cf3">product inventory</b>
            </h1>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col offsetMd="3" sizeMd="6">
            <hr />
          </ion-col>
        </ion-row>

        <ion-row class="my-5">
          <ion-col size="12" size-md="7">
            <img
              src="assets/images/landing/data.jpg"
              style="max-height: 500px"
            />
          </ion-col>
          <ion-col sizeMd="5">
            <h1
              class="pt-5"
              [ngClass]="{
                'ion-text-start display-4' : isDesktop,
                'ion-text-center h1' : !isDesktop
              }"
              style="font-family: 'Mulish', sans-serif"
            >
              <b style="color: #494cf3">#5</b> - Business
              <b style="color: #494cf3">symmary / insights </b>
              dashboard
            </h1>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col offsetMd="3" sizeMd="6">
            <hr />
          </ion-col>
        </ion-row>

        <!-- <ion-row class="my-5" [style.flex-direction]="isDesktop ? 'row-reverse' : 'row'">
          <ion-col size="12" size-md="7" class="ion-text-end">
            <img
              src="assets/images/landing/client.jpg"
              style="max-height: 500px"
            />
          </ion-col>

          <ion-col sizeMd="5">
            <h1
              class="pt-5"
              [ngClass]="{
                'ion-text-start display-4' : isDesktop,
                'ion-text-center h1' : !isDesktop
              }"
              style="font-family: 'Mulish', sans-serif"
            >
              <b style="color: #494cf3">#6</b> - Customer Management /
              <b style="color: #494cf3">outreach</b>
              support
            </h1>
          </ion-col>
        </ion-row> -->
      </ion-col>
    </ion-row>
  </section>

  <section #demo class="my-5">
    <ion-row>
      <ion-col>
        <h1 class="ion-text-center" style="font-family: 'Mulish', sans-serif">
          <b>Demo </b>
        </h1>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-slides [options]="sliderConfig">
          <ion-slide style="width: 800px">
            <ion-card>
              <ion-card-header style="background: #e3ebff">
                <ion-card-title
                  style="font-family: 'Mulish', sans-serif; color: #494cf3"
                  ><b>Create your Business Website / Online store through Atlas</b></ion-card-title
                >
              </ion-card-header>
              <img
                style="max-height: 600px"
                src="assets/images/landing/demo/stack.png"
              />
            </ion-card>
          </ion-slide>
          <ion-slide style="width: 800px">
            <ion-card>
              <ion-card-header style="background: #e3ebff">
                <ion-card-title
                  style="font-family: 'Mulish', sans-serif; color: #494cf3"
                  ><b
                    >Display your product catalogue / services online</b
                  ></ion-card-title
                >
              </ion-card-header>
              <img
                style="max-height: 600px"
                src="assets/images/landing/demo/cart.png"
              />
            </ion-card>
          </ion-slide>
          <ion-slide style="width: 800px">
            <ion-card>
              <ion-card-header style="background: #e3ebff">
                <ion-card-title
                  style="font-family: 'Mulish', sans-serif; color: #494cf3"
                  ><b>Receive instant orders/requests through your website</b></ion-card-title
                >
              </ion-card-header>
              <img
                style="max-height: 600px"
                src="assets/images/landing/demo/checkout.png"
              />
            </ion-card>
          </ion-slide>
          <ion-slide style="width: 800px">
            <ion-card>
              <ion-card-header style="background: #e3ebff">
                <ion-card-title
                  style="font-family: 'Mulish', sans-serif; color: #494cf3"
                  ><b>Atlas Business Console -  Dashboard / Summary</b></ion-card-title
                >
              </ion-card-header>
              <img
                style="max-height: 600px"
                src="assets/images/landing/demo/dashboard.png"
              />
            </ion-card>
          </ion-slide>
          <ion-slide style="width: 800px">
            <ion-card>
              <ion-card-header style="background: #e3ebff">
                <ion-card-title
                  style="font-family: 'Mulish', sans-serif; color: #494cf3"
                  ><b>Atlas Business Console - Create/Edit GST Invoices</b></ion-card-title
                >
              </ion-card-header>
              <img
                style="max-height: 600px"
                src="assets/images/landing/demo/invoice.png"
              />
            </ion-card>
          </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>
  </section>

  <section #footer style="background: #0b0162">
    <ion-row class="pt-5">
      <ion-col size="12" offset-md="1" size-md="3" class="text-light">
        <div class="pl-4">
          <h6 class="text-uppercase font-weight-bold text-light">
            <strong>Contact Us</strong>
          </h6>
          <hr
            class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto"
            style="width: 60px"
          />
          <p>
            <i class="fa fa-envelope mr-1"></i>&nbsp;
            <a href="mailto:atlasonlinebusinesssolutions@gmail.com"
              >atlasonlinebusinesssolutions@gmail.com</a
            >
          </p>
        </div>
      </ion-col>

      <ion-col size="12" size-md="4">
        <h6 class="text-uppercase font-weight-bold text-light">
          <strong>Enter details to get early access to ATLAS</strong>
        </h6>
        <hr
          class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto"
          style="width: 180px"
        />

        <ion-row>
          <ion-col sizeMd="7">
            <ion-item>
              <ion-label position="floating">Name</ion-label>
              <ion-input maxlength="30" [(ngModel)]="name"></ion-input>
            </ion-item>
          </ion-col>

          <ion-col sizeMd="5">
            <ion-item>
              <ion-label position="floating">Mobile No.</ion-label>
              <ion-input maxlength="10" [(ngModel)]="mobile"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating">Email Id</ion-label>
              <ion-input maxlength="50" [(ngModel)]="email"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating"
                >Description or your business / startup</ion-label
              >
              <ion-textarea
                maxlength="200"
                [(ngModel)]="description"
              ></ion-textarea>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-button
              [disabled]="inProgress"
              style="--background: #fd6f61"
              (click)="submit()"
              >Request Early Access
              <ion-spinner *ngIf="inProgress" name="crescent"></ion-spinner>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-col>

      <ion-col size="12" size-md="3" class="text-light ion-text-end">
        <h1>Join</h1>
        <h1>us &</h1>
        <h1>Improve</h1>
        <h1>your</h1>
        <h1>Business!!</h1>
      </ion-col>
    </ion-row>
    <ion-row class="py-4">
      <ion-col style="color: white" class="ion-text-center">
        Copyright © 2022
      </ion-col>
    </ion-row>
  </section>

  <ion-fab
    *ngIf="!isDesktop && !clicked"
    horizontal="end"
    vertical="bottom"
    slot="fixed"
  >
    <ion-button
      style="--background: #494cf3; color: white"
      (click)="scrollElement('footer')"
      >Get Early Access</ion-button
    >
  </ion-fab>
</ion-content>
