<ion-header>
  <ion-toolbar class="py-2">
    <ion-title style="font-family: 'Mulish', sans-serif; --background: '#e5e5e5'">
      <img style="height: 30px" src="assets/images/atlas-small.png" />
      <b>&nbsp; ATLAS </b> Business
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-row class="ion-text-center">
    <ion-col>
      <h1>
        Terms & Conditions
      </h1>
    </ion-col>
  </ion-row>

  <section>
    <div class="ion-padding">
      <ion-row class="mb-5">
        <ion-col offset-md="2" size-md="8" style="
      font-family: 'Mulish', sans-serif;
      text-align: justify;    ">
          <span style="white-space: pre-wrap; font-style: italic">
            {{terms}}

          </span>
        </ion-col>
      </ion-row>
    </div>
  </section>
</ion-content>