<ion-header>
  <ion-toolbar>
    <ion-title
      style="font-family: 'Mulish', sans-serif; --background: '#e5e5e5'"
      >
      <img style="height: 35px;" src="{{logo}}">
      <b>&nbsp;Maharaja</b> Architects Pvt. Ltd.</ion-title
    >

    <ion-buttons class="hidden-md-down" slot="primary" collapse="true">
      <ion-button (click)="scrollElement('home')">Home</ion-button>
      <ion-button (click)="scrollElement('about')">About us</ion-button>
      <ion-button (click)="scrollElement('services')">Services</ion-button>
      <ion-button (click)="scrollElement('projects')">Projects</ion-button>
      <ion-button (click)="scrollElement('team')">Team</ion-button>
      <ion-button (click)="scrollElement('footer')">Contact us</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <section
    #home
    style="
      background: url('{{landingBackground1}}');
      background-size: cover;
    "
    class="fwh-slide"
  >
    <ion-grid>
      <ion-row>
        <ion-col size-md="5" offset-md="7" class="ion-margin-top">
          <b
            style="
              font-family: 'Mulish', sans-serif;
              color: white;
              font-size: 120px;
            "
            >Come Explore with us!</b
          >
        </ion-col>
      </ion-row>
    </ion-grid>
  </section>

  <section #about class="ion-padding my-5">
    <ion-row>
      <ion-col offset-md="3" size-md="6">
        <h1 class="ion-text-center" style="font-family: 'Mulish', sans-serif">
          About us
        </h1>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col
        offset-md="2"
        size-md="8"
        style="
          font-family: 'Mulish', sans-serif;
          text-align: justify;
          text-justify: inter-word;
        "
      >
        <i class="ion-text-center">
          Maharaja Architects Pvt. Ltd. is specializing in rendering services
          for repairs &amp; restoration of civil structures. In the relatively
          short span of time, we have carried out quality jobs using a
          systematic &amp; scientific approach and applying a professional
          attitude to largely unorganized sector. From 1998 till now, we also
          worked in the name of “R. M. Patidar &amp; Associates” as Repair board
          Architect.
        </i>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col
        offset-md="2"
        size-md="8"
        style="
          font-family: 'Mulish', sans-serif;
          text-align: justify;
          text-justify: inter-word;
        "
      >
        <i class="ion-text-center" style="font-family: 'Mulish', sans-serif">
          We take this opportunity to introduce ourselves as Civil and
          Structural Consultants Specialized in “New Construction” and Building
          “Repairs &amp; Restorations” , who assist the client on all aspect of
          services carrying out their project in the most smooth and economical
          way.
        </i>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col
        offset-md="2"
        size-md="8"
        style="
          font-family: 'Mulish', sans-serif;
          text-align: justify;
          text-justify: inter-word;
        "
      >
        <i class="ion-text-center">
          The company has a Team of Structural Design Engineer- Architect,
          Project Managers, Executive Engineers – supervisors, Structural
          Auditor, Valuer and Marketing Team, who have got vast experience in
          Consulting &amp; Executing services for New Construction and Building
          Repairs and Rehabilitation Projects.
        </i>
      </ion-col>
    </ion-row>
  </section>

  <section #services class="ion-padding my-5">
    <ion-row class="mb-5">
      <ion-col offset-md="3" size-md="6">
        <h1 class="ion-text-center" style="font-family: 'Mulish', sans-serif">
          Services
        </h1>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size-md="3" class="mx-md-5">
        <ion-card>
          <img src="{{service1}}" />
          <ion-card-header>
            <ion-card-title
              >Structural Consultancy for New Construction</ion-card-title
            >
          </ion-card-header>
          <ion-card-content>
            <ul>
              <li>Propose best structural arrangement.</li>
              <li>Structural Analysis.</li>
              <li>Structural design</li>
              <li>Structural drawings & approx. quantities.</li>
              <li>Project Tenders/ Tender scrutiny</li>
              <li>Periodic site visits during construction</li>
              <li>Work Certification</li>
            </ul>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size-md="3" class="mx-md-5">
        <ion-card>
          <img src="{{service2}}" />
          <ion-card-header>
            <ion-card-title>Building Repair Consultancy</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ul>
              <li>
                Survey of buildings for distress in structural members,
                Leakages, plumbing and sanitary related problem.
              </li>
              <li>Performing Non Destructive tests on RCC members</li>
              <li>Structural Audit Report with test result.</li>
              <li>Repair Estimation</li>
              <li>Project approval from government authority</li>
            </ul>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size-md="3" class="mx-md-5">
        <ion-card>
          <img src="{{service3}}" />
          <ion-card-header>
            <ion-card-title
              >Project Management & Construction Supervision</ion-card-title
            >
          </ion-card-header>
          <ion-card-content>
            <ul>
              <li>Performing Non Destructive tests on RCC members</li>
              <li>Structural Audit Report with test result.</li>
              <li>Repair Estimation</li>
              <li>Project approval from government authority</li>
              <li>Supervision during Repair work</li>
              <li>Bill checking of contractors</li>
            </ul>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </section>

  <section #projects class="my-5">
    <ion-row>
      <ion-col offset-md="3" size-md="6">
        <h1 class="ion-text-center" style="font-family: 'Mulish', sans-serif">
          Our Recent Projects
        </h1>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-slides [options]="sliderConfig">
          <ion-slide style="width: 800px">
            <ion-card>
              <img style="max-height: 400px" src="{{service1}}" />
              <ion-card-header>
                <ion-card-title
                  >Structural Consultancy for New Construction</ion-card-title
                >
              </ion-card-header>
            </ion-card>
          </ion-slide>
          <ion-slide style="width: 800px">
            <ion-card>
              <img style="max-height: 400px" src="{{service2}}" />
              <ion-card-header>
                <ion-card-title
                  >Structural Consultancy for New Construction</ion-card-title
                >
              </ion-card-header>
            </ion-card>
          </ion-slide>
          <ion-slide style="width: 800px">
            <ion-card>
              <img style="max-height: 400px" src="{{service3}}" />
              <ion-card-header>
                <ion-card-title
                  >Structural Consultancy for New Construction</ion-card-title
                >
              </ion-card-header>
            </ion-card>
          </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>
  </section>

  <section #team class="my-5 pb-5">
    <ion-row class="my-5">
      <ion-col offset-md="3" size-md="6">
        <h1 class="ion-text-center" style="font-family: 'Mulish', sans-serif">
          Our Team
        </h1>
      </ion-col>
    </ion-row>

    <ion-row style="font-family: 'Mulish', sans-serif">
      <ion-col size="12" size-md="3" class="ion-text-center">
        <img
          style="width: 150px; height: 150px; border-radius: 50%"
          src="{{rameshji}}"
        />
        <h5 class="mt-3">Mr. Ramesh M. Patidar</h5>
        <h6>Chairman, MD</h6>
        <i>Civil Engineer (Exp - 25 yrs)</i>
      </ion-col>

      <ion-col size="12" size-md="3" class="ion-text-center">
        <img
          style="width: 150px; height: 150px; border-radius: 50%"
          src="{{aashika}}"
        />
        <h5 class="mt-3">Mrs. Aashika Patidar</h5>
        <h6>Director</h6>
        <i>B.E. Civil, Lic. Structural Engineer (Exp - 6 yrs)</i>
      </ion-col>

      <ion-col size="12" size-md="3" class="ion-text-center">
        <img
          style="width: 150px; height: 150px; border-radius: 50%"
          src="{{deepikaji}}"
        />
        <h5 class="mt-3">Mrs. Deepika Patidar</h5>
        <h6>Interior Head</h6>
        <i>Civil Engineer (Exp - 6 yrs)</i>
      </ion-col>

      <ion-col size="12" size-md="3" class="ion-text-center">
        <img
          style="width: 150px; height: 150px; border-radius: 50%"
          src="{{chirag}}"
        />
        <h5 class="mt-3">Mr. Chirag Patidar</h5>
        <i>B.E. Civil, M. Tech.-Structural Engineer <br />(Exp - 3 yrs)</i>
      </ion-col>
    </ion-row>
  </section>

  <section #footer style="background: #224353">
    <ion-row class="py-5">
      <ion-col offset-md="1" size-md="3" class="text-light">
        <div class="pl-4">
          <h6 class="text-uppercase font-weight-bold text-light">
            <strong>Contact Us</strong>
          </h6>
          <hr
            class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto"
            style="width: 60px"
          />
          <p>
            <i class="fas fa-home mr-1"></i> B-12, 78, Tardeo Road,<br />
            Bombay A. C. Market,<br />
            Mumbai-400034, Maharashtra
          </p>
          <p>
            <i class="fa fa-envelope mr-1"></i>&nbsp;
            <a href="mailto:maharajaarchitects@gmail.com"
              >maharajaarchitects@gmail.com</a
            >
          </p>
          <p><i class="fa fa-phone mr-1"></i> &nbsp;022 2352 6522</p>
          <p><i class="fa fa-phone mr-1"></i> + 91 - 9833152271</p>
        </div>
      </ion-col>

      <ion-col size-md="4">
        <h6 class="text-uppercase font-weight-bold text-light">
          <strong>Write a query to us</strong>
        </h6>
        <hr
          class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto"
          style="width: 180px"
        />
        <ion-item>
          <ion-label position="floating">Your Email Id / Mobile No.</ion-label>
          <ion-input></ion-input>
        </ion-item>

        <!-- Textarea in an item with a floating label -->
        <ion-item class="mt-3">
          <ion-label position="floating">Description</ion-label>
          <ion-textarea></ion-textarea>
        </ion-item>

        <ion-button class="mt-3">Submit</ion-button>
      </ion-col>

      <ion-col offset-md="1" size-md="3">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3773.0685696167448!2d72.81209441516837!3d18.972578887147357!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7ce71b4849e3b%3A0xe3dae3a45416f64a!2sMaharaja%20Architects%20Pvt.%20Ltd.!5e0!3m2!1sen!2sin!4v1638014872891!5m2!1sen!2sin"
          width="300"
          height="300"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
        ></iframe>
      </ion-col>
    </ion-row>
  </section>
</ion-content>
