<ion-header>
  <ion-toolbar
    style="--background: {{ profile.color }}; --color: {{ profile.fontColor }}"
  >
    <ion-title style="font-family: 'Mulish', sans-serif">
      <img style="height: 35px" [src]="icon" />
      <b>&nbsp; {{ profile.title }} </b></ion-title
    >

    <ion-buttons class="hidden-md-down" slot="primary" collapse="true">
      <ion-button (click)="scrollElement('home')">Home</ion-button>
      <ion-button (click)="scrollElement('about')">About us</ion-button>
      <ion-button (click)="scrollElement('services')">Services</ion-button>
      <ion-button (click)="scrollElement('projects')">Projects</ion-button>
      <ion-button (click)="scrollElement('team')">Team</ion-button>
      <ion-button (click)="scrollElement('footer')">Contact us</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Full  - ignore error in section css-->
  <section
    style="
            background: url({{ url }}) no-repeat center center / cover;
            height: 100%;
          "
    class="fwh-slide"
  >
    <ion-row
      class="mt-2 pb-3 h-100"
      [ngClass]="{
        'ion-text-start': profile.home.fullTitleX == 'Left',
        'ion-text-center': profile.home.fullTitleX == 'Mid',
        'ion-text-end': profile.home.fullTitleX == 'Right',
        'ion-align-items-start': profile.home.fullTitleY == 'Top',
        'ion-align-items-center': profile.home.fullTitleY == 'Mid',
        'ion-align-items-end': profile.home.fullTitleY == 'Bottom'
      }"
    >
      <ion-col>
        <ion-row>
          <ion-col
            sizeMd="{{ profile.home.fullTitleW == 'NA' ? '12' : '4' }}"
            offsetMd="{{ profile.home.fullTitleW == 'E' ? '8' : '0' }}"
          >
            <span>
              <p
                style="font-family: 'Mulish', sans-serif; white-space: pre-wrap"
                [style.color]="profile.home.fullTitleColor"
                [ngClass]="{
                  'display-4': profile.home.fullTitleFont == 's',
                  'display-3': profile.home.fullTitleFont == 'm',
                  'display-1': profile.home.fullTitleFont == 'l'
                }"
              >
                {{ profile.home.fullTitle }}
              </p>
            </span>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </section>

  <div *ngFor="let page of pages">
    <!-- Full  - ignore error in section css-->
    <section
      class="fwh-slide"
      *ngIf="page.type === 'Full'"
      style="
          background: url({{
        imgMap.get(page.id)
      }}) no-repeat center center / cover;
        "
    >
      <ion-row
        class="mt-2 pb-3 h-100"
        [ngClass]="{
          'ion-text-start': page.fullTitleX == 'Left',
          'ion-text-center': page.fullTitleX == 'Mid',
          'ion-text-end': page.fullTitleX == 'Right',
          'ion-align-items-start': page.fullTitleY == 'Top',
          'ion-align-items-center': page.fullTitleY == 'Mid',
          'ion-align-items-end': page.fullTitleY == 'Bottom'
        }"
      >
        <ion-col>
          <ion-row>
            <ion-col
              sizeMd="{{ page.fullTitleW == 'NA' ? '12' : '4' }}"
              offsetMd="{{ page.fullTitleW == 'E' ? '8' : '0' }}"
            >
              <span>
                <p
                  style="
                    font-family: 'Mulish', sans-serif;
                    white-space: pre-wrap;
                  "
                  [style.color]="page.fullTitleColor"
                  [ngClass]="{
                    'display-4': page.fullTitleFont == 's',
                    'display-3': page.fullTitleFont == 'm',
                    'display-1': page.fullTitleFont == 'l'
                  }"
                >
                  {{ page.fullTitle }}
                </p>
              </span>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </section>

    <!-- Text -->
    <section #about *ngIf="page.type === 'Text'">
      <div class="ion-padding my-5">
        <ion-row class="ion-text-center">
          <ion-col offset-md="2" size-md="8">
            <span
              [style.color]="page.headingColor"
              style="font-family: 'Mulish', sans-serif"
              [ngClass]="{
                h3: page.headingFont == 's',
                h2: page.headingFont == 'm',
                h1: page.headingFont == 'l'
              }"
            >
              {{ page.heading }}
            </span>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col
            offset-md="2"
            size-md="8"
            style="
              font-family: 'Mulish', sans-serif;
              text-align: justify;
              text-justify: inter-word;
            "
          >
            <span
              class="ion-text-center"
              style="white-space: pre-wrap"
              [style.font-style]="page.paragraphStyle"
              [style.color]="page.paragraphColor"
            >
              {{ page.paragraph }}
            </span>
          </ion-col>
        </ion-row>
      </div>
    </section>

    <!-- Info -->
    <section class="fwh-slide" *ngIf="page.type == 'Info'">
      <ion-row
        *ngIf="complete"
        style="height: 100%"
        [style.flex-direction]="page.reverse === 'Y' ? 'row-reverse' : 'row'"
      >
        <ion-col
          sizeMd="7"
          style=" background: url({{
            imgMap.get(page.id)
          }}) no-repeat center center / cover"
        >
        </ion-col>
        <ion-col sizeMd="5">
          <ion-row
            class="ion-padding"
            [ngClass]="{
              'ion-text-start': page.align == 'Left',
              'ion-text-center': page.align == 'Mid',
              'ion-text-end': page.align == 'Right'
            }"
          >
            <ion-col>
              <span
                style="font-family: 'Mulish', sans-serif; white-space: pre-wrap"
                [style.color]="page.color"
                [ngClass]="{
                  'display-4': page.font == 's',
                  'display-3': page.font == 'm',
                  'display-1': page.font == 'l'
                }"
                >{{ page.info }}</span
              >
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </section>

    <!-- Slides -->
    <section *ngIf="page.type === 'Slides'">
      <ion-row>
        <ion-col offset-md="3" size-md="6">
          <h1 class="ion-text-center" style="font-family: 'Mulish', sans-serif">
            {{ page.title }}
          </h1>
        </ion-col>
      </ion-row>

      <ion-row class="mb-5">
        <ion-col>
          <ion-slides [options]="sliderConfig">
            <ion-slide *ngFor="let slide of page.slides">
              <ion-card>
                <img style="height: 400px" src="{{ imgMap.get(slide.id) }}" />
                <ion-card-header>
                  <ion-card-title>{{ slide.title }}</ion-card-title>
                  <ion-card-subtitle
                    style="white-space: pre-wrap"
                    class="ion-text-start"
                    >{{ slide.description }}</ion-card-subtitle
                  >
                </ion-card-header>
              </ion-card>
            </ion-slide>
          </ion-slides>
        </ion-col>
      </ion-row>
    </section>

    <!-- Video -->
    <section style="height: 100%" *ngIf="page.type == 'Video'">
      <ion-row class="my-5">
        <ion-col offset-md="3" size-md="6">
          <h1 class="ion-text-center" style="font-family: 'Mulish', sans-serif">
            {{ page.videoTitle ? page.videoTitle : "Video" }}
          </h1>
        </ion-col>
      </ion-row>
      <ion-row class="mt-4">
        <ion-col offsetMd="3" sizeMd="6">
          <iframe
            width="100%"
            height="400px"
            [src]="ytbUrl.get(page.id)"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
        </ion-col>
      </ion-row>
    </section>

    <!-- Team -->
    <section #team class="my-5 pb-5" *ngIf="page.type == 'Team'">
      <ion-row class="my-5">
        <ion-col offset-md="3" size-md="6">
          <h1 class="ion-text-center" style="font-family: 'Mulish', sans-serif">
            Our Team
          </h1>
        </ion-col>
      </ion-row>

      <ion-row class="mb-5" style="font-family: 'Mulish', sans-serif">
        <ion-col>
          <ion-slides [options]="sliderConfigTeam">
            <ion-slide *ngFor="let member of page.members">
              <ion-col>
                <img
                  style="width: 150px; height: 150px; border-radius: 50%"
                  src="{{ imgMap.get(member.id) }}"
                />
                <h5 class="mt-3">{{ member.name }}</h5>
                <h6>{{ member.designation }}</h6>
                <i>{{ member.details }}</i>
              </ion-col>
            </ion-slide>
          </ion-slides>
        </ion-col>
      </ion-row>
    </section>
  </div>

  <section #footer style="background: #224353">
    <ion-row class="py-5">
      <ion-col size="12" offset-md="1" size-md="3" class="text-light">
        <div class="pl-4">
          <h6 class="text-uppercase font-weight-bold text-light">
            <strong>Contact Us</strong>
          </h6>
          <hr
            class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto"
            style="width: 60px"
          />
          <p>
            <i class="fas fa-home mr-1"></i> B-12, 78, Tardeo Road,<br />
            Bombay A. C. Market,<br />
            Mumbai-400034, Maharashtra
          </p>
          <p>
            <i class="fa fa-envelope mr-1"></i>&nbsp;
            <a href="mailto:maharajaarchitects@gmail.com"
              >maharajaarchitects@gmail.com</a
            >
          </p>
          <p><i class="fa fa-phone mr-1"></i> &nbsp;022 2352 6522</p>
          <p><i class="fa fa-phone mr-1"></i> + 91 - 9833152271</p>
        </div>
      </ion-col>

      <ion-col size="12" size-md="4">
        <h6 class="text-uppercase font-weight-bold text-light">
          <strong>Write a query to us</strong>
        </h6>
        <hr
          class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto"
          style="width: 180px"
        />
        <ion-item>
          <ion-label position="floating">Your Email Id / Mobile No.</ion-label>
          <ion-input></ion-input>
        </ion-item>

        <!-- Textarea in an item with a floating label -->
        <ion-item class="mt-3">
          <ion-label position="floating">Description</ion-label>
          <ion-textarea></ion-textarea>
        </ion-item>

        <ion-button class="mt-3" (click)="presentToast()">Submit</ion-button>
      </ion-col>

      <ion-col size="12" offset-md="1" size-md="3">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3773.0685696167448!2d72.81209441516837!3d18.972578887147357!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7ce71b4849e3b%3A0xe3dae3a45416f64a!2sMaharaja%20Architects%20Pvt.%20Ltd.!5e0!3m2!1sen!2sin!4v1638014872891!5m2!1sen!2sin"
          width="300"
          height="300"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
        ></iframe>
      </ion-col>
    </ion-row>
  </section>

  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-button
      style="text-transform: none"
      class="m-5"
      (click)="routeToOrder()"
      >Our Products!</ion-button
    >
  </ion-fab>
</ion-content>
