<ion-content class="ion-padding">
  <ion-row>
    <ion-col offsetMd="1" sizeMd="10">
      <ion-row class="ion-text-center">
        <ion-col>
          <img
            src="assets/images/atlas.png"
            style="width: 75px; height: 75px"
          />
        </ion-col>
      </ion-row>

      <ion-row class="ion-text-center">
        <ion-col>
          <h5>Atlas Login</h5>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Email Id</ion-label>
            <ion-input [(ngModel)]="email" type="mail" placeholder="abc@email.com"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="!forgotPassword">
        <ion-col>
          <ion-item>
            <ion-label position="floating">Password</ion-label>
            <ion-input [(ngModel)]="pass" type="password" placeholder="**********"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-button expand="block" (click)="submit()" [disabled]="verifying"
            >{{forgotPassword ? 'Reset Password' : 'Login'}}
            <ion-spinner *ngIf="verifying" name="crescent"></ion-spinner>
          </ion-button>
        </ion-col>
      </ion-row>

      <ion-row class="ion-text-center">
        <ion-col>
          <a href="javascript:void(0)" (click)="forgot()">
            {{forgotPassword ? 'Go back to Login' : 'Forgot Password ?'}}</a
          >
        </ion-col>
      </ion-row>

      <ion-row class="ion-text-center">
        <ion-col>
          <a href="javascript:void(0)" (click)="register()"> Not a member ? Register here</a>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-content>
