<ion-content class="ion-padding">
  <ion-row>
    <ion-col>
      <h5>{{ isHome ? 'Home' : 'New'}} Section</h5>
    </ion-col>
    <ion-col *ngIf="isNew || isEdit">
      <ion-item
        style="
          border: solid 0.5px;
          border-radius: 20px;
          --highlight-color-focused: none;
        "
      >
        <ion-label><b>Title</b></ion-label>
        <ion-input maxlength="15" [(ngModel)]="pageTitle"></ion-input>
      </ion-item>
    </ion-col>
    <ion-col>
      <ion-button class="float-left" (click)="publish()">Publish</ion-button>
    </ion-col>
  </ion-row>

  <ion-row class="mt-2">
    <ion-col>
      <ion-segment
        mode="md"
        scrollable
        value="Full"
        [(ngModel)]="pageType"
        [disabled]="!isNew"
      >
        <ion-segment-button value="Full" layout="icon-start">
          <i class="fas fa-image" style="font-size: larger"></i>
          <ion-label>Full</ion-label>
        </ion-segment-button>
        <ion-segment-button value="Info" layout="icon-start">
          <i class="far fa-address-card" style="font-size: larger"></i>
          <ion-label>Info</ion-label>
        </ion-segment-button>
        <ion-segment-button value="Text" layout="icon-start">
          <i class="fas fa-font" style="font-size: larger"></i>
          <ion-label>Text</ion-label>
        </ion-segment-button>
        <ion-segment-button value="Slides" layout="icon-start">
          <i class="fas fa-images" style="font-size: larger"></i>
          <ion-label>Slides</ion-label>
        </ion-segment-button>
        <ion-segment-button value="Video" layout="icon-start">
          <i class="fab fa-youtube" style="font-size: larger"></i>
          <ion-label>Video</ion-label>
        </ion-segment-button>
        <ion-segment-button value="Team" layout="icon-start">
          <i class="fas fa-users" style="font-size: larger"></i>
          <ion-label>Team</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-col>
  </ion-row>

  <ion-row style="height: 75%">
    <!-- ***** Display ***** -->

    <ion-col sizeMd="8">
      <!-- Full -->
      <section
        *ngIf="pageType == 'Full'"
        style="
            background: url({{fullUrl}}) no-repeat center center / cover;
            height: 100%;
            border: solid;
            border-color: lightgrey;
          "
      >
        <ion-row
          class="mt-2 pb-3 h-100"
          [ngClass]="{
          'ion-text-start': full.fullTitleX == 'Left',
          'ion-text-center': full.fullTitleX == 'Mid',
          'ion-text-end': full.fullTitleX == 'Right',
          'ion-align-items-start': full.fullTitleY == 'Top',
          'ion-align-items-center': full.fullTitleY == 'Mid',
          'ion-align-items-end': full.fullTitleY == 'Bottom'
        }"
        >
          <ion-col>
            <ion-row>
              <ion-col
                sizeMd="{{full.fullTitleW == 'NA' ? '12' : '4'}}"
                offsetMd="{{full.fullTitleW == 'E' ? '8' : '0'}}"
              >
                <span
                  style="
                    font-family: 'Mulish', sans-serif;
                    white-space: pre-wrap;
                  "
                  [style.color]="full.fullTitleColor"
                  [ngClass]="{
                      'h3': full.fullTitleFont == 's',
                      'h2': full.fullTitleFont == 'm',
                      'h1': full.fullTitleFont == 'l'
                    }"
                  >{{full.fullTitle}}</span
                >
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </section>

      <!-- Info -->
      <section
        style="height: 100%; border: solid; border-color: lightgrey"
        *ngIf="pageType == 'Info'"
        #about
      >
        <ion-row
          style="height: 100%"
          [style.flex-direction]="info.reverse === 'Y' ? 'row-reverse': 'row'"
        >
          <ion-col
            sizeMd="7"
            style=" background: url({{infoUrl}}) no-repeat center center / cover;"
          >
          </ion-col>
          <ion-col sizeMd="5">
            <ion-row
              class="ion-padding"
              [ngClass]="{
              'ion-text-start': info.align == 'Left',
              'ion-text-center': info.align == 'Mid',
              'ion-text-end': info.align == 'Right'
            }"
            >
              <ion-col>
                <span
                  style="
                    font-family: 'Mulish', sans-serif;
                    white-space: pre-wrap;
                  "
                  [style.color]="info.color"
                  [ngClass]="{
                      'h3': info.font == 's',
                      'h2': info.font == 'm',
                      'h1': info.font == 'l'
                    }"
                  >{{info.info}}</span
                >
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </section>

      <!-- Text -->
      <section
        style="height: 100%; border: solid; border-color: lightgrey"
        *ngIf="pageType == 'Text'"
        #about
      >
        <div class="ion-padding my-4">
          <ion-row class="ion-text-center">
            <ion-col offset-md="2" size-md="8">
              <span
                [style.color]="text.headingColor"
                style="font-family: 'Mulish', sans-serif"
                [ngClass]="{
              'h3': text.headingFont == 's',
              'h2': text.headingFont == 'm',
              'h1': text.headingFont == 'l'
            }"
              >
                {{text.heading}}
              </span>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col
              offset-md="2"
              size-md="8"
              style="
                font-family: 'Mulish', sans-serif;
                text-align: justify;
                text-justify: inter-word;
              "
            >
              <span
                class="ion-text-center"
                style="white-space: pre-wrap"
                [style.font-style]="text.paragraphStyle"
                [style.color]="text.paragraphColor"
              >
                {{ text.paragraph }}
              </span>
            </ion-col>
          </ion-row>
        </div>
      </section>

      <!-- Slides -->
      <section style="height: 100%" *ngIf="pageType == 'Slides'">
        <ion-row class="ion-justify-content-center">
          <ion-card>
            <ion-row class="ion-text-center">
              <ion-col class="ion-no-padding">
                <img
                  style="height: 300px"
                  [src]="slideImgs[currentSlide].url ? slideImgs[currentSlide].url: (imgMap.has(slides.slides[currentSlide].id) ?  imgMap.get(slides.slides[currentSlide].id) : 'https://via.placeholder.com/150?text=Image')"
                />
              </ion-col>
            </ion-row>
            <ion-card-header>
              <ion-card-title class="ion-text-center"
                >{{slides.slides[currentSlide].title}}</ion-card-title
              >
              <ion-card-subtitle style="white-space: pre-wrap"
                >{{slides.slides[currentSlide].description}}</ion-card-subtitle
              >
            </ion-card-header>
          </ion-card>
        </ion-row>
      </section>

      <!-- Video -->
      <section style="height: 100%" *ngIf="pageType == 'Video'">
        <ion-row>
          <ion-col>
            <iframe
              width="100%"
              height="400px"
              [src]="ytbUrl"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            ></iframe>
          </ion-col>
        </ion-row>
      </section>

      <!-- Team -->
      <section style="height: 100%" *ngIf="pageType == 'Team'">
        <ion-row style="font-family: 'Mulish', sans-serif">
          <ion-col size="12" class="ion-text-center">
            <img
              style="width: 150px; height: 150px; border-radius: 50%"
              [src]="memberImgs[currentMember].url ? memberImgs[currentMember].url: (imgMap.has(team.members[currentMember].id) ?  imgMap.get(team.members[currentMember].id) : 'https://via.placeholder.com/150?text=Image')"
            />
            <h5 class="mt-3">{{team.members[currentMember].name}}</h5>
            <h6>{{team.members[currentMember].designation}}</h6>
            <i>{{team.members[currentMember].details}}</i>
          </ion-col>
        </ion-row>
      </section>
    </ion-col>

    <!-- ***** Editor ***** -->
    <!-- Full -->
    <ion-col *ngIf="pageType == 'Full'" sizeMd="4">
      <ion-row>
        <ion-col>
          <input
            style="display: none"
            type="file"
            accept="image/*"
            #file1
            (change)="onFileChangedFull($event)"
            [(ngModel)]="fullImgFile"
          />
          <ion-button
            expand="block"
            mode="ios"
            mat-icon-button
            class="img-btn"
            (click)="file1.click()"
          >
            Change Background Image
          </ion-button>
        </ion-col>
      </ion-row>

      <ion-row class="mt-2">
        <ion-col>
          <ion-item
            style="
              border: solid 0.5px;
              border-radius: 20px;
              --highlight-color-focused: none;
            "
          >
            <ion-textarea
              style="--highlight-color-focused: none"
              placeholder="Description"
              maxlength="50"
              [(ngModel)]="full.fullTitle"
            ></ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row class="mt-2">
        <ion-col>
          <ion-item lines="none">
            <input type="color" [(ngModel)]="full.fullTitleColor" />
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-select interface="popover" [(ngModel)]="full.fullTitleFont">
            <ion-select-option value="s">Small</ion-select-option>
            <ion-select-option value="m">Medium</ion-select-option>
            <ion-select-option value="l">Large</ion-select-option>
          </ion-select>
        </ion-col>
      </ion-row>

      <ion-row class="mt-2">
        <ion-col>
          <ion-segment
            mode="md"
            scrollable
            value="NA"
            [(ngModel)]="full.fullTitleW"
          >
            <ion-segment-button value="S" layout="icon-start">
              <i class="fas fa-arrow-left" style="font-size: larger"></i>
              <ion-label>Left</ion-label>
            </ion-segment-button>
            <ion-segment-button value="NA" layout="icon-start">
              <i class="fas fa-arrows-alt-h" style="font-size: larger"></i>
              <ion-label>Full</ion-label>
            </ion-segment-button>
            <ion-segment-button value="E" layout="icon-start">
              <i class="fas fa-arrow-right" style="font-size: larger"></i>
              <ion-label>Right</ion-label>
            </ion-segment-button>
          </ion-segment>
        </ion-col>
      </ion-row>

      <ion-row class="mt-2">
        <ion-col>
          <ion-segment
            mode="md"
            scrollable
            value="Mid"
            [(ngModel)]="full.fullTitleX"
          >
            <ion-segment-button value="Left" layout="icon-start">
              <i class="fas fa-align-left" style="font-size: larger"></i>
            </ion-segment-button>
            <ion-segment-button value="Mid" layout="icon-start">
              <i class="fas fa-align-center" style="font-size: larger"></i>
            </ion-segment-button>
            <ion-segment-button value="Right" layout="icon-start">
              <i class="fas fa-align-right" style="font-size: larger"></i>
            </ion-segment-button>
          </ion-segment>
        </ion-col>
      </ion-row>

      <ion-row class="mt-2">
        <ion-col>
          <ion-segment
            mode="md"
            scrollable
            value="Top"
            [(ngModel)]="full.fullTitleY"
          >
            <ion-segment-button value="Top" layout="icon-start">
              <i class="fas fa-arrow-up" style="font-size: larger"></i>
              <ion-label>Top</ion-label>
            </ion-segment-button>
            <ion-segment-button value="Mid" layout="icon-start">
              <i class="fas fa-arrows-alt-v" style="font-size: larger"></i>
              <ion-label>Mid</ion-label>
            </ion-segment-button>
            <ion-segment-button value="Bottom" layout="icon-start">
              <i class="fas fa-arrow-down" style="font-size: larger"></i>
              <ion-label>Bottom</ion-label>
            </ion-segment-button>
          </ion-segment>
        </ion-col>
      </ion-row>
    </ion-col>

    <!-- Info -->
    <ion-col *ngIf="pageType === 'Info'" sizeMd="4">
      <ion-row>
        <ion-col>
          <input
            style="display: none"
            type="file"
            accept="image/*"
            #file2
            (change)="onFileChangedInfo($event)"
            [(ngModel)]="infoImgFile"
          />
          <ion-button
            expand="block"
            mode="ios"
            mat-icon-button
            class="img-btn"
            (click)="file2.click()"
          >
            Change Background Image
          </ion-button>
        </ion-col>
      </ion-row>

      <ion-row class="mt-2">
        <ion-col>
          <ion-segment
            mode="md"
            scrollable
            value="NA"
            [(ngModel)]="info.reverse"
          >
            <ion-segment-button value="N" layout="icon-start">
              <i class="fas fa-arrow-left" style="font-size: larger"></i>
              <ion-label>Left</ion-label>
            </ion-segment-button>
            <ion-segment-button value="Y" layout="icon-start">
              <i class="fas fa-arrow-right" style="font-size: larger"></i>
              <ion-label>Right</ion-label>
            </ion-segment-button>
          </ion-segment>
        </ion-col>
      </ion-row>

      <ion-row class="mt-2">
        <ion-col>
          <ion-item
            style="
              border: solid 0.5px;
              border-radius: 20px;
              --highlight-color-focused: none;
            "
          >
            <ion-textarea
              rows="5"
              style="--highlight-color-focused: none"
              placeholder="Description"
              maxlength="50"
              [(ngModel)]="info.info"
            ></ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row class="mt-2">
        <ion-col>
          <ion-item lines="none">
            <input type="color" [(ngModel)]="info.color" />
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-select interface="popover" [(ngModel)]="info.font">
            <ion-select-option value="s">Small</ion-select-option>
            <ion-select-option value="m">Medium</ion-select-option>
            <ion-select-option value="l">Large</ion-select-option>
          </ion-select>
        </ion-col>
      </ion-row>

      <ion-row class="mt-2">
        <ion-col>
          <ion-segment
            mode="md"
            scrollable
            value="Mid"
            [(ngModel)]="info.align"
          >
            <ion-segment-button value="Left" layout="icon-start">
              <i class="fas fa-align-left" style="font-size: larger"></i>
            </ion-segment-button>
            <ion-segment-button value="Mid" layout="icon-start">
              <i class="fas fa-align-center" style="font-size: larger"></i>
            </ion-segment-button>
            <ion-segment-button value="Right" layout="icon-start">
              <i class="fas fa-align-right" style="font-size: larger"></i>
            </ion-segment-button>
          </ion-segment>
        </ion-col>
      </ion-row>
    </ion-col>

    <!-- Text -->
    <ion-col *ngIf="pageType === 'Text'" sizeMd="4">
      <ion-row>
        <ion-col>
          <ion-item
            style="
              border: solid 0.5px;
              border-radius: 20px;
              --highlight-color-focused: none;
            "
          >
            <ion-label><b>Heading</b></ion-label>
            <ion-input maxlength="30" [(ngModel)]="text.heading"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row class="mt-2">
        <ion-col>
          <ion-item lines="none">
            <input type="color" [(ngModel)]="text.headingColor" />
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-select interface="popover" [(ngModel)]="text.headingFont">
            <ion-select-option value="s">Small</ion-select-option>
            <ion-select-option value="m">Medium</ion-select-option>
            <ion-select-option value="l">Large</ion-select-option>
          </ion-select>
        </ion-col>
      </ion-row>

      <ion-row class="mt-2">
        <ion-col>
          <ion-item
            style="
              border: solid 0.5px;
              border-radius: 20px;
              --highlight-color-focused: none;
            "
          >
            <ion-textarea
              rows="7"
              style="--highlight-color-focused: none"
              placeholder="Description"
              [(ngModel)]="text.paragraph"
            ></ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row class="mt-2">
        <ion-col>
          <ion-item lines="none">
            <input type="color" [(ngModel)]="text.paragraphColor" />
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-segment
            mode="md"
            scrollable
            value="normal"
            [(ngModel)]="text.paragraphStyle"
          >
            <ion-segment-button value="normal" layout="icon-start">
              <i class="fas fa-font" style="font-size: larger"></i>
            </ion-segment-button>
            <ion-segment-button value="italic" layout="icon-start">
              <i class="fas fa-italic" style="font-size: larger"></i>
            </ion-segment-button>
          </ion-segment>
        </ion-col>
      </ion-row>
    </ion-col>

    <!-- Slides -->
    <ion-col *ngIf="pageType === 'Slides'" sizeMd="4">
      <ion-row>
        <ion-col>
          <ion-button
            expand="block"
            style="text-transform: none"
            (click)="addSlide()"
            >Add</ion-button
          >
        </ion-col>
        <ion-col>
          <ion-button
            color="danger"
            expand="block"
            style="text-transform: none"
            [disabled]="slides.slides.length == 1"
            (click)="removeSlide()"
            >Remove</ion-button
          >
        </ion-col>
        <ion-col>
          <ion-button class="ion-float-right" (click)="moveLeft()">
            <i class="fas fa-caret-left"></i>
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button (click)="moveRight()">
            <i class="fas fa-caret-right"></i>
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row class="mt-2">
        <ion-col>
          <ion-segment
            mode="md"
            scrollable
            [value]="1"
            [(ngModel)]="currentSlide"
          >
            <ion-segment-button
              *ngFor="let slide of slideImgs; index as i"
              [value]="i"
              (click)="load()"
            >
              <ion-label>{{i+1}}</ion-label>
            </ion-segment-button>
          </ion-segment>
        </ion-col>
      </ion-row>

      <ion-row class="mt-2">
        <ion-col>
          <input
            style="display: none"
            type="file"
            accept="image/*"
            #file3
            (change)="onFileChangedSlide($event)"
            [(ngModel)]="slideImgFile"
          />
          <ion-button
            expand="block"
            mode="ios"
            mat-icon-button
            class="img-btn"
            (click)="file3.click()"
          >
            Change Image
          </ion-button>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item
            style="
              border: solid 0.5px;
              border-radius: 20px;
              --highlight-color-focused: none;
            "
          >
            <ion-label><b>Heading {{currentSlide*1 + 1}}</b></ion-label>
            <ion-input
              maxlength="30"
              [(ngModel)]="slides.slides[currentSlide].title"
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row class="mt-2">
        <ion-col>
          <ion-item
            style="
              border: solid 0.5px;
              border-radius: 20px;
              --highlight-color-focused: none;
            "
          >
            <ion-textarea
              rows="5"
              style="--highlight-color-focused: none"
              placeholder="Description"
              [(ngModel)]="slides.slides[currentSlide].description"
            ></ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-col>

    <!-- Video -->
    <ion-col *ngIf="pageType === 'Video'" sizeMd="4">
      <ion-row>
        <ion-col>
          <ion-item
            style="
              border: solid 0.5px;
              border-radius: 20px;
              --highlight-color-focused: none;
            "
          >
            <ion-label><b>Title</b></ion-label>
            <ion-input
              maxlength="30"
              [(ngModel)]="video.videoTitle"
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row class="mt-2">
        <ion-col>
          <ion-item
            style="
              border: solid 0.5px;
              border-radius: 20px;
              --highlight-color-focused: none;
            "
          >
            <ion-textarea
              rows="5"
              style="--highlight-color-focused: none"
              placeholder="Paste your YouTube video link here!!"
              [(ngModel)]="video.url"
              (ngModelChange)="urlUpdate()"
            ></ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-col>

    <!-- Team -->
    <ion-col *ngIf="pageType === 'Team'" sizeMd="4">
      <ion-row>
        <ion-col>
          <ion-button
            expand="block"
            style="text-transform: none"
            (click)="addMember()"
            >Add</ion-button
          >
        </ion-col>
        <ion-col>
          <ion-button
            color="danger"
            expand="block"
            style="text-transform: none"
            [disabled]="team.members.length == 1"
            (click)="removeMember()"
            >Remove</ion-button
          >
        </ion-col>
        <ion-col>
          <ion-button class="ion-float-right" (click)="moveLeftMember()">
            <i class="fas fa-caret-left"></i>
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button (click)="moveRightMember()">
            <i class="fas fa-caret-right"></i>
          </ion-button>
        </ion-col>
      </ion-row>

      <ion-row class="mt-2">
        <ion-col>
          <ion-segment
            mode="md"
            scrollable
            [value]="1"
            [(ngModel)]="currentMember"
          >
            <ion-segment-button
              *ngFor="let member of memberImgs; index as i"
              [value]="i"
              (click)="load()"
            >
              <ion-label>{{i+1}}</ion-label>
            </ion-segment-button>
          </ion-segment>
        </ion-col>
      </ion-row>

      <ion-row class="mt-2">
        <ion-col>
          <input
            style="display: none"
            type="file"
            accept="image/*"
            #file4
            (change)="onFileChangedMember($event)"
            [(ngModel)]="memberImgFile"
          />
          <ion-button
            expand="block"
            mode="ios"
            mat-icon-button
            class="img-btn"
            (click)="file4.click()"
          >
            Change Image
          </ion-button>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item
            style="
              border: solid 0.5px;
              border-radius: 20px;
              --highlight-color-focused: none;
            "
          >
            <ion-label><b>Name</b></ion-label>
            <ion-input
              maxlength="30"
              [(ngModel)]="team.members[currentMember].name"
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item
            style="
              border: solid 0.5px;
              border-radius: 20px;
              --highlight-color-focused: none;
            "
          >
            <ion-label><b>Designation</b></ion-label>
            <ion-input
              maxlength="30"
              [(ngModel)]="team.members[currentMember].designation"
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row class="mt-2">
        <ion-col>
          <ion-item
            style="
              border: solid 0.5px;
              border-radius: 20px;
              --highlight-color-focused: none;
            "
          >
            <ion-textarea
              rows="3"
              style="--highlight-color-focused: none"
              placeholder="Details"
              [(ngModel)]="team.members[currentMember].details"
            ></ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-content>
